@{
    ViewBag.Title = "Home Page";
}

<br />


<div class="jumbotron">
    <div id="wrapper">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("NewBooking", "Booking")' "> NEW Reservation</button>
    </div>
</div>

