@{
    ViewBag.Title = "Home Page";
}

<br />
<div id="wrapper">
    <button class="btn" onclick="location.href='@Url.Action("Reservation", "New")' "> NEW Reservation</button>
</div>

<div class="jumbotron">

</div>

